body{
    background-color: rgb(226, 226, 224);
    margin: 10px;
}
.banner {
    width: 100%;
}
p {
    color: rgb(0, 0, 0);
    text-align: justify;
}
h1,h2,h3{
    color: rgb(145, 79, 206);
}

.momentos {
    font-style: italic
    margin: 10px;
}
.linha {
    
    width: 800px ;
    height: inherit; 


}
.mapa{
    width: 800px;
    height: inherit;
