html{
    background-color: #FFDD6C;
}
header {
    
    background-color:#FFDD6C;
    padding: 20px 0;
}
.logo{
    height:200px;
    width: 200px;
}
nav {
    position: absolute;
    top: 100px;
    right:0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #EF197B;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto
}

.banner {
    width: 100%;
}
main {
   
    background-color:#FDA2AB;
    text-decoration: none;
    padding: 20px;
}
p {
    color: rgb(0, 0, 0);
    text-align: justify;
}
h1,h2,h3{
    color: #EF197B;
}

.momentos {
    background-color: #FFDD6C;
     text-align:justify;
    margin: 10px;
    font-style: italic;
    border: 2px solid black;
    padding: 20px
}
.Titulo-centralizado{
     text-align:center;

}
.linha {
    
    width: 800px ;
    height: inherit; 


}
.mapa{
    
    width: 800px;
    height: inherit;}
