body{
    background-color: rgb(226, 226, 224);
    margin: 10px;
    padding: 10px;
}
.banner {
    width: 100%;
}
p {
    color: rgb(0, 0, 0);
    text-align: justify;
}
h1,h2,h3{
    color: rgb(145, 79, 206);
}

.momentos {
     text-align:justify;
    margin: 10px;
    font-style: italic;
    border: 2px solid black;
    padding: 20px
}
.Tsessao{
     text-align:center;

}
.linha {
    text-align:center;
    width: 800px ;
    height: inherit; 


}
.mapa{
    text-align:center;
    width: 800px;
    height: inherit;
